{% extends "base.html" %}
{% load static %}

{% block title %}Archive{% endblock %}

{% block content %}

<div class="container-fluid">
<div class="row">
    <div id="msg-aside" class="col-md-4 col-md-push-8">
      <ul>
          <li><a class="btn btn-default" href="{{ msg.list_by_date_url }}">View by Date</a></li>
          <li><a class="btn btn-default" href="{{ msg.list_by_thread_url }}">View by Thread</a></li>
          {% if msg.next_in_list %}
            <li><a class="btn btn-default" href="{{ msg.next_in_list.get_absolute_url }}">Next in List</a></li>
          {% endif %}
          {% if msg.previous_in_list %}
            <li><a class="btn btn-default" href="{{ msg.previous_in_list.get_absolute_url }}">Previous in List</a></li>
          {% endif %}
      </ul>
    </div> <!-- msg-aside -->

    <div id="msg-detail" class="col-md-8 col-md-pull-4">
      {{ msg.get_body_html|safe }}
  
      <div id="related-messages">
        {% if msg.replies.all %}
          <h4>Replies:</h4>
          <ul>
          {% for reply in msg.replies.all %}
            <li>
              <a href="{{ reply.get_absolute_url }}">{{ reply.subject }}</a><br>
              {{ reply.frm }}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div id="msg-nav">
        <ul>
          <li><a class="btn btn-default" href="{{ msg.list_by_date_url }}">View by Date</a></li>
          <li><a class="btn btn-default" href="{{ msg.list_by_thread_url }}">View by Thread</a></li>
          {% if msg.next_in_list %}
            <li><a class="btn btn-default" href="{{ msg.next_in_list.get_absolute_url }}">Next in List</a></li>
          {% endif %}
          {% if msg.previous_in_list %}
            <li><a class="btn btn-default" href="{{ msg.previous_in_list.get_absolute_url }}">Previous in List</a></li>
          {% endif %}
        </ul>
      </div> <!-- msg-nav -->

    </div> <!-- msg-detail -->
</div> <!-- row -->
</div>

{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'mlarchive/js/detail.js' %}"></script>
{% endblock %}